In [3]:
print("hi")

hi

In [92]:
my_list = ['a', 'a', 'z', 'b', 'b', 'c', 'b', 'd']
a = {}
for i in my_list:
    if i not in a:
        a[i]= 0
        for j in my_list:
            if i==j:
                count=1
                a[i] = a[i]+ count 
                
            
                
print(a)

{'a': 2, 'z': 1, 'b': 3, 'c': 1, 'd': 1}

In [25]:
x = 422
y = 73
if x > y:
    print('x > y : {} is greater than {}'.format(x,y))

x > y : 422 is greater than 73

In [30]:
words = ["one","two","three","four","five"]
n=0
while (n < 5):
    print (words[n])
    n += 1

one
two
three
four
five

In [32]:
a,b= 0,1
while b < 1000:
    print(b, end=' ',flush = True)
    a , b = b, a+b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [49]:
class Duck:
    walking = "walk like a duck"
    sound = "quack"

    def quack(self):
        print(self.walking)

    def walk(self):
        print(self.sound)

def main():
    donald = Duck()
    donald.quack()
    donald.walk()

if __name__== '__main__':main()

walk like a duck
quack

In [50]:
x = [1,2,3,4,5,6]
for i in x:
    print('i is {}'.format(i))

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6

In [51]:
a={ 1:"one",2:"two",3:"three",4:"four"}
for k,v in a.items():
    print("key:{},values:{}".format(k,v))

key:1,values:one
key:2,values:two
key:3,values:three
key:4,values:four

In [105]:
class Animal:
    def __init__(self,**kwargs):
        self._name = kwargs["name"] if "name" in kwargs else "Pamith"
        self._type = kwargs["type"] if "type" in kwargs else "silent"
        self._colour = kwargs["colour"] if "colour" in kwargs else "red"

    def name(self):
        return self._name

    def type(self):
        return self._type
    
    def colour(self):
        return self._colour
    
    def __str__(self):
        return f' the {self.type()} is "{self.name()}" has "{self.colour()}" '

def main():
    a0 = Animal(type = 'kitten', name = 'flufffy',colour= 'red')
    print(a0)

In [106]:
main()

 the kitten is "flufffy" has "red"

In [109]:
import sys,os
v = sys.platform
t = os.name
print(t)

posix

In [111]:
import sqlite3
db = sqlite3.connect('db-api.db')
cur = db.cursor()
cur.execute(
    """ CREATE TABLE test(
    id INTEGER PRIMARY KEY, name TEXT, number INTEGER
    )
"""
cur.execute("""
INSERT INTO test(id,name, number) VALUES(1,"bbb",34)
""")

)

In [64]:
df = open('myfile.txt','r')
a = df.readlines()

c=-1
for i in a:
    c=c+1
    count=0
    b = list(a[c])
    for j in b:
        if j =="o":
            count = count +1
    print(a[c],count)

hello world hello world
 4
good night
 2
good morning
 3

In [53]:
list(a)

['hello world hello world\n', 'good night\n', 'good morning\n']

In [3]:
list1=[1,2,3,0,4,5]
any(list1)
print("max",max(list1))
print("min",min(list1))

max 5
min 0

In [9]:
days=[1,2,3,4,5,6,7]
day_name=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
i = iter(days)
print(next(i))
print(next(i))
print(next(i))
print(next(i))

1
2
3
4

In [21]:
with open("myfile.txt","r") as fp:
    for line in iter(fp.readline,""):
        print(line)

hello world hello world

good night

good morning

In [24]:
for d in range(len(day_name)):
    print(d+1, day_name[d])

1 Mon
2 Tue
3 Wed
4 Thu
5 Fri
6 Sat
7 Sun

In [25]:
for i,m in enumerate(day_name, start =1):
    print(i,m)

1 Mon
2 Tue
3 Wed
4 Thu
5 Fri
6 Sat
7 Sun

In [26]:
for i in zip(day_name,days):
    print(i)

('Mon', 1)
('Tue', 2)
('Wed', 3)
('Thu', 4)
('Fri', 5)
('Sat', 6)
('Sun', 7)

In [28]:
for i,m in enumerate(zip(day_name,days),start=1):
    print(m[0],"=",m[1])

Mon = 1
Tue = 2
Wed = 3
Thu = 4
Fri = 5
Sat = 6
Sun = 7

In [42]:
def addition(*args):
    result = 0
    for i in args:
        result += i
    return result

In [44]:
print(addition(12,23,90))

125

In [45]:
total = [100,39,90,45]
print(list(map(lambda t: t*10,total)))

[1000, 390, 900, 450]

In [49]:
g =[12,2,3,4,4,4,3,2,3,3]
w = set(g)
list(w)

[2, 3, 12, 4]

In [87]:
from collections import defaultdict, OrderedDict

In [81]:
from collections import Counter

class1 = ["jame","bob","frank","dany","bob"]
class2 = ["bill","bob","neyo","rayan"]

c1 = Counter(class1)
c2 = Counter(class2)

c1.subtract(class2)

In [82]:
print(c1.most_common())

[('jame', 1), ('bob', 1), ('frank', 1), ('dany', 1), ('bill', -1), ('neyo', -1), ('rayan', -1)]

In [79]:
print(sum(c1.values()))

9

In [93]:
sport_team = [("srilanka",(12,3)),("Australia",(14,3)),("South Africa",(11,4))]

sort_team = sorted(sport_team, key=lambda t: t[1][0], reverse=False)

In [94]:
print(sort_team)

[('South Africa', (11, 4)), ('srilanka', (12, 3)), ('Australia', (14, 3))]

In [95]:
teams = OrderedDict(sort_team)
print(teams)

OrderedDict([('South Africa', (11, 4)), ('srilanka', (12, 3)), ('Australia', (14, 3))])

In [96]:
tm ,wl =teams.popitem(False) 
print("top teams",tm,wl)

top teams South Africa (11, 4)

In [111]:
import collections
import string

d = collections.deque(string.ascii_lowercase)
type(d)

collections.deque

In [103]:
print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 23])

In [104]:
class Person:
    def __init__(self):
        self.fname = "Pamith"
        self.lname = "Rathnayake"
        self.age = 25

cls1 = Person()

In [105]:
print(str(cls1))

<__main__.Person object at 0x7ff698c23ca0>

In [106]:
print(repr(cls1))

<__main__.Person object at 0x7ff698c23ca0>